/* Get_Technical.css */

/* Default styles */
.Item-container {
    padding: 20px;
    border: 1px solid gray;
  }
  
  
  /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Technician  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  /* Small screen styles */
  @media (max-width: 767px) {
    .Item-container {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Item-container {
      margin-left: 15%;
      margin-right: 15%;
      max-width: 70%;
    }
  }
  
  /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Installer  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Installer {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Installer {
      margin-left: 20%;
      margin-right: 20%;
      max-width: 60%;
    }
  }




    /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Referance  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Referance {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Referance {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }



      /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Category  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Category {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Category {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }





        /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Item  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Item {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Item {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }




          /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Complaint  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Complaint {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Complaint {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }



            /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Type  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Type {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Type {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }



  
            /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Area  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Area {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Area {
      margin-left: 30%;
      margin-right: 30%;
      max-width: 40%;
    }
  }




              /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Mobile  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Mobile {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Mobile {
      margin-left: 20%;
      margin-right: 20%;
      max-width: 60%;
    }
  }























  

  /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
               /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Transaction ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
                /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Complain_Sheet  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Complaint_Sheet {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Complaint_Sheet {
      margin-left: 20%;
      margin-right: 20%;
      max-width: 60%;
    }
  }



          /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Technician_Assignment  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Technician_Assignment {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Technician_Assignment {
      margin-left: 10%;
      margin-right: 10%;
      max-width: 80%;
    }
  }



            /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Technician_Visit  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Technician_Visit {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Technician_Visit {
      margin-left: 7%;
      margin-right: 7%;
      max-width: 86%;
    }
  }



              /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Closed_Complaint  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Closed_Complaint {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Closed_Complaint {
      margin-left: 15%;
      margin-right: 15%;
      max-width: 70%;
    }
  }





































  /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
    /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Report ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
                /* //////////////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////// Closed_Complaint  ////////////////////////////
  //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////// */
  
  /* Small screen styles */
  @media (max-width: 767px) {
    .Complaint_Report {
      margin-left: 5%;
      margin-right: 5%;
      max-width: 90%;
      font-size: 11px;
    }
  }
  
  /* Large screen styles */
  @media (min-width: 768px) {
    .Complaint_Report {
      margin-left: 15%;
      margin-right: 15%;
      max-width: 70%;
      font-size: 12px;

    }
  }



  .form-control {
    font-size: 12px;
  }